/* General Styles */
body {
    font-family: Roboto;
    background-image: url('grey.jpg');
    background-size: cover;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: #1A1A1A;
}

.logo {
    font-size: 2rem;
    color: #FFFFFF;
    font-family: Poppins;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0 15px;
}

ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
}

ul li a:hover {
    cursor: pointer;
    color: #FFD700;
    border-bottom: 2px solid #FFD700;
}

/* Projects Section */
.projects {
    padding: 50px;
    text-align: center;
}

.projects h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #FFD700;
}

.project {
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.project h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #FFD700;
}

.project p {
    font-size: 1rem;
    line-height: 1.6;
}

/* Footer */
.footer {
    background-color: #1A1A1A;
    padding: 10px 0;
    text-align: center;
}

.footer footer {
    color: #FFFFFF;
    font-size: 1rem;
}